<div class="col">
  <div class="row">
    <div class="col p-0">
      <%= render "shared/navbar" %>
    </div>
  </div>
  <div class="row">
    <div class="col py-3">
      <%= yield %>
    </div>
  </div>
</div>