<%= link_to home_index_path, class: "navbar-brand" do %>
  <%= image_tag("transports/logos/transports_navbar_logo.svg", class: "img-fluid") %>
<% end %>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <%= link_to new_transport_path, "data-controller": "turbo", class: "btn btn-outline-success btn-sm" do %>
        <i class="fa-solid fa-plus"></i>
        &nbsp;
        <i class="fa-solid fa-train"></i>
        &nbsp;
        Nuovo Trasporto
      <% end %>
    </li>
  </ul>
</div>
