<div class="row align-items-center p-3 mt-5">
  <div class="col text-center">
    <%= image_tag("main/main-logo.svg", class: "img-fluid", alt: "main-logo") %>
    <br/>
    &emsp;
    <h3 class="text-primary">
      <strong>Trantor Constellation</strong>
    </h3>
    <span class="text-primary">
      Applicazione gestionale web per Rimborsi Spese ed Assenze
    </span>
    <br/>
    &emsp;
    <br/>
    <h4 class="text-primary">
      Versione 1.0.0 cgil-fvg
    </h4>
  </div>
  <div class="col text-center">
    <%= image_tag("main/main-davo-logo.svg", class: "img-fluid", alt: "main-davo-logo") %>
    <br/>
    <span class="text-primary">
      by
    </span>
    <br/>
    <h4 class="text-primary">
      <a href="mailto:davodavosky@gmail.com">
        Davo Davodsky
      </a>
    </h4>
    <br/>
  </div>
</div>
