<br/>
&emsp;
<div class="row align-items-center p-3">
  <div class="col text-center m-5 p-5">
    <%= image_tag("content/main-logo.svg", class: "img-fluid", alt: "main-logo.svg") %>
    <br/>
    &emsp;
    <h3 class="text-primary">
      <strong>Trantor Constellation</strong>
    </h3>
    <span class="text-primary">
      Applicazione gestionale web per Rimborsi Spese ed Assenze
    </span>
    <br/>
    &emsp;
    <br/>
    <h4 class="text-primary">
      Versione 3.6.9
    </h4>
  </div>
  <div class="col text-center m-5 p-5">
    <%= image_tag("content/davosky-logo.svg", class: "img-fluid", alt: "davosky-logo.svg") %>
    <br/>
    &emsp;
    <h3 class="text-primary">
      The Davosky Connection <br/>
    </h3>
    <span class="text-primary">
      by
    </span>
    <br/>
    <h4 class="text-primary">
      <a href="https://github.com/davosky/TrantorConstellation" target="new">
        Davo Davodsky
      </a>
    </h4>
    <br/>
  </div>
</div>
