<div class="row">
  <div class="col">&emsp;</div>
  <div class="col pe-5">
    <p class="text-justified">
      <%= image_tag("home/logos/credits_logo_trantor.svg", class: "img-fluid") %>
      <hr/>
      <h3>
        Trantor Constellation
      </h3>
      <p>
        Applicativo gestionale per Rimborsi Spese ed Assenze
        <br/>
        <ul>
          <li>
            Piattaforma:&emsp;Ruby On Rails
          </li>
          <li>
            Database:&emsp;Postgresql
          </li>
          <li>
            Javascript:&emsp;ESbuild
          </li>
          <li>
            Css:&emsp;Bootstrap
          </li>
          <li>
            <h4>
              Versione:&emsp;
              <strong>
                1.0.0
              </strong>
            </h4>
          </li>
        </ul>
      </p>
    </p>
  </div>
  <div class="col ps-5">
    <p class="text-justified">
      <%= image_tag("home/logos/credits_logo_davosky.svg", class: "img-fluid") %>
      <hr/>
      <h3>
        The Davosky Connection
        <br/>
        <h5>
          by Davo Davosky
        </h5>
      </h3>
      <ul>
        <li>
          Github:&emsp;
          <a href="https://github.com/davosky" target="blank">davosky</a>
        </li>
        <li>
          Telegram:&emsp;davosky
        </li>
      </ul>
    </p>
  </div>
  <div class="col">&emsp;</div>
</div>
</div>
