<div class="row">
  <div class="col">&emsp;</div>
  <div class="col">
    <p class="text-justified">
      <%= image_tag("home/logos/main_logo.svg", class: "img-fluid") %>
      Localizzato nelle regioni centrali della Via Lattea è uno dei pianeti abitabili più vicini al 
      Nucleo Galattico, Trantor venne colonizzato nei primi millenni di espansione umana 
      nell'Universo, e pian piano acquisì sempre maggiore importanza e potere. Inizialmente 
      composto di soli cinque mondi, lo stato fondato da Trantor inglobò sempre più sistemi 
      stellari nel corso dei millenni, fino a fondare un vastissimo Impero Galattico e rimanendone 
      la capitale per 12.000 anni (centinaia di generazioni). Aveva una superficie abitata di oltre 
      75 milioni di miglia quadrate e consisteva di una singola città, con oltre 40 miliardi di 
      abitanti. Su Trantor erano locati gli uffici amministrativi dell'intera galassia. 
    </p>
    <p>
      <span class="float-end">
        <small class="text-secondary">
          Tratto da: Trilogia della Fondazione di: Isaac Asimov
        </small>
      </span>
    </p>
  </div>
  <div class="col">&emsp;</div>
</div>
