// Lumen 5.3.8
// Bootswatch

$theme: "lumen" !default;

//
// Color system
//

$white: #fffcfc !default;
$gray-100: #fff6f0 !default;
$gray-200: #ffe8d6 !default;
$gray-300: #e5d1c2 !default;
$gray-400: #ccb9ac !default;
$gray-500: #b2a89a !default;
$gray-600: #998b80 !default;
$gray-700: #80746b !default;
$gray-800: #665d56 !default;
$gray-900: #4d4640 !default;
$black: #1a1715 !default;

$blue: #008996 !default;
$indigo: #457b9dff !default;
$purple: #3d405b !default;
$pink: #f5cac3 !default;
$red: #f28482 !default;
$orange: #feb97a !default;
$yellow: #f6bd60 !default;
$green: #6eccb4 !default;
$teal: #a8dad3 !default;
$cyan: #a7d7dc !default;

$primary: $blue !default;
$secondary: $gray-200 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-700 !default;

$min-contrast-ratio: 1.75 !default;

// Prefix for :root CSS variables

$variable-prefix: bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix !default;

/// Fonts

@font-face {
  font-family: "SofiaSansCondensed-Regular";
  font-style: normal;
  font-weight: 500;
  src: url("SofiaSansCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SofiaSansCondensed-Italic";
  font-style: normal;
  font-weight: 500;
  src: url("SofiaSansCondensed-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "SofiaSansCondensed-Light";
  src: url("SofiaSansCondensed-Light.ttf") format("truetype");
}

@font-face {
  font-family: "SofiaSansCondensed-LightItalic";
  src: url("SofiaSansCondensed-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "SofiaSansCondensed-Bold";
  src: url("SofiaSansCondensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SofiaSansCondensed-BoldItalic";
  src: url("SofiaSansCondensed-BoldItalic.ttf") format("truetype");
}

// Tables

$table-color: initial !default;

$table-bg-scale: 0% !default;

// Buttons

$btn-font-weight: 700 !default;

// Dropdowns

$dropdown-link-color: var(--#{$prefix}tertiary-color) !default;

// Navs

$nav-link-color: var(--#{$prefix}link-color) !default;

// Pagination

$pagination-color: $gray-700 !default;
$pagination-bg: var(--#{$prefix}tertiary-bg) !default;
$pagination-border-color: var(--#{$prefix}border-color) !default;
$pagination-hover-color: $pagination-color !default;
$pagination-hover-bg: $pagination-bg !default;
$pagination-active-border-color: darken($primary, 5%) !default;
$pagination-disabled-color: $gray-600 !default;
$pagination-disabled-bg: $pagination-bg !default;

// Breadcrumbs

$breadcrumb-padding-y: 0.375rem !default;
$breadcrumb-padding-x: 0.75rem !default;
$breadcrumb-bg: $pagination-bg !default;
$breadcrumb-border-radius: 0.25rem !default;

// Modals

$modal-content-border-color: rgba($black, 0.1) !default;

// Close

$btn-close-color: $white !default;
$btn-close-opacity: 0.4 !default;
$btn-close-hover-opacity: 1 !default;
