  <%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="col-6 offset-3 p-3 border border-success rounded">
    <div class="row">
      <div class="col">
        <span class="text-success">
          <i class="fa-solid fa-train"></i>
          &emsp;
          Trasporto:
        </span>
        &emsp;
        <%= @reimbursement.reimbursement_number %>
        <hr class="text-success"/>
        <span class="text-success">
          <i class="fa-solid fa-arrow-up-9-1"></i>
          &emsp;
          Posizione in Scaletta:
        </span>
        &emsp;
        <%= @reimbursement.departure_date %>
        <hr class="text-success"/>
        <span class="float-end">
          <%= link_to reimbursements_path, class: "btn btn-outline-success btn-sm" do %>
            <i class="fa-solid fa-arrow-left"></i>
            &nbsp;
            <i class="fa-solid fa-list"></i>
            &emsp;
            Ritorna alla Lista
          <% end %>
        </span>
      </div>
    </div>
  </div>
<% end %>
